.root {
	margin-bottom: 20px;
	text-align: right;
}

.label {
	color: #999;
	margin-right: 5px;
}

.mainLabel {
	text-transform: uppercase;
	margin-right: 15px;
}

.roleSelect {
	margin-right: 10px;
}