.root {	
	
}

.title {
	font-family: Helvetica sans-serif;
	text-transform: uppercase;
	margin-top: 0;
	font-size: 28px;
	text-align: center;
}

.addLink {
	display: block;
    width: 40px;
    height: 40px;
    background: #5d6;
    color: #fff;
	text-decoration: none;
    border-radius: 50%;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
}

.addLink:hover {
	box-shadow: 0 0 10px 5px #aaa;
}