body {
	background: #aaf;
	font-size: 16px;
}
.root {
	position: relative;
	width: 80%;	
	min-height: 400px;
	margin: auto;
	margin-top: 50px;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 20px;
	background: #fff;
}

@media (max-width: 600px) {
	.root {
		width: auto;		
	}
}