.list {
	padding: 0;
}

.heading {	
	display: flex;
	color: #999;
}

.headingCell {
	flex-basis: 0;
	flex-grow: 1;
	text-transform: uppercase;
}

@media (max-width: 600px) {
	.headingCell {
		font-size: 12px;
	}
}

@media (max-width: 390px) {
	.heading {
		display: none;
	}	
}